button.btn-upload-img {
  z-index: 2 !important;
  position: absolute !important;
  left: 1175px !important;
  width: 40px !important;
  height: 30px !important;
  top: 100px !important;
}

#blah {
  z-index: 2 !important;
  position: absolute !important;
  left: 1030px !important;
  width: 150px !important;
  height: 150px !important;
  top: 50px !important;
}

.full__name {
  z-index: 2 !important;
  position: absolute !important;
  left: 1250px !important;
  width: 150px !important;
  height: 150px !important;
  top: 70px !important;
}




