.timetable {
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #BE9BC4;
  border-radius: 15px;
  margin-left: 1%;
  position: absolute;
  width: 98%;
  height: 88%;
  margin-top: 50%;
}







